.carousel-container {
  position: relative;
}

.carousel-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  padding: 1rem;

  opacity: 0.2;
}

.carousel-controls-container:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 150ms linear;
}

.carousel-controls-container:hover > .carousel-navigation-previous,
.carousel-controls-container:hover > .carousel-navigation-next {
  opacity: 0.7;
}

.carousel-controls-container:hover > .carousel-navigation-previous:hover,
.carousel-controls-container:hover > .carousel-navigation-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 150ms linear;
}

.carousel-navigation-previous,
.carousel-navigation-next {
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
  font-size: 32px;
  height: 57px;
  width: 57px;
  padding: 0;
  border-radius: 50%;
  color: white;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.carousel-navigation-next {
  margin-left: auto;
}

.carousel-navigation-previous,
.carousel-navigation-next {
  cursor: pointer;
}
