#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.carousel-container {
  position: relative;
  width: 1280px;
  height: 720px;
}

.carousel-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  padding: 1rem;

  opacity: 0.2;
}

.carousel_3d + .carousel-controls-container {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-controls-container:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 150ms linear;
}

.carousel-controls-container:hover
  > .navigation-button:not(.navigation-button-placeholder) {
  opacity: 0.7;
}

.carousel-controls-container:hover
  .navigation-button:not(.navigation-button-placeholder):hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 150ms linear;
}

.navigation-button {
  height: 57px;
  width: 57px;
}

.navigation-button:not(.navigation-button-placeholder) {
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
  font-size: 32px;

  padding: 0;
  border-radius: 50%;
  color: white;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.navigation-button:not(.navigation-button-placeholder) {
  cursor: pointer;
}

.navigation-button-collection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 0 0;
}

.navigation-button-collection > .navigation-button {
  width: 25px;
  height: 10px;
  border: none;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.45);
}

.navigation-button-collection > .navigation-button.active {
  background-color: rgba(255, 255, 255, 1) !important;
}

.navigation-button-collection > .navigation-button + .navigation-button {
  margin-left: 0.5rem;
}
